<%- include(`./partials/header.ejs`) %>

<div class="bg pt-5">
    <div class="mask align-items-center mt-5">
        <div class="container pt-5 mt-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 mb-4 text-white text-center">
                    <h1 class="text-white text-uppercase font-weight-bold mb-0 pt-md-5 pt-5"><strong>In the mood to see a movie? Click the button to find out whats playing!</strong></h1>
                    <form action="/results" method="GET">
                        <button type="submit" class="btn btn-outline-light mt-3">Show me whats new!</button>
                    </form>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>

<%- include(`./partials/footer.ejs`) %>