<%- include('./partials/header.ejs') %>

<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Got suggestions on new donut flavors? Shoot us a message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('./partials/footer.ejs') %>